a-pandas-ex-apply-ignore-exceptions==0.10
a-pandas-ex-bs4df==0.12
a-selenium-iframes-crawler==0.10
a-selenium2df==0.10
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
altair==5.5.0
altair-data-server==0.4.1
altair-saver==0.5.0
altair-viewer==0.4.0
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.9.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.10.0
asttokens==3.0.0
async-lru==2.0.5
attrs==24.3.0
babel==2.17.0
bcrypt==4.3.0
beautifulsoup4==4.12.3
behave==1.2.6
bleach==6.2.0
blinker==1.9.0
bokeh==2.4.3
cachetools==5.5.0
captcha==0.7.1
certifi==2024.12.14
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.0
check-if-nan==0.11
click==8.1.8
cloudpickle==3.1.1
colorama==0.4.6
comm==0.2.2
comtypes==1.4.8
contourpy==1.3.1
cprinter==0.12
cryptography==44.0.2
cssselect==1.2.0
cssutils==2.11.1
cycler==0.12.1
dash==3.0.2
dask==2025.3.0
dataframe_image==0.2.6
debugpy==1.8.11
decorator==5.1.1
defusedxml==0.7.1
disable-warnings==0.10
distro==1.9.0
Django==5.2.7
docutils==0.21.2
et_xmlfile==2.0.0
exceptiongroup==1.2.2
execnet==2.1.1
executing==2.1.0
extra-streamlit-components==0.1.80
fasteners==0.19
fastjsonschema==2.21.1
filelock==3.16.1
filetype==1.2.0
Flask==3.0.3
flatten-everything==0.41
fonttools==4.55.3
fqdn==1.5.1
frozenlist==1.5.0
fsspec==2025.3.2
fuzzypandaswuzzy==0.10
geographiclib==2.0
geopy==2.4.1
gitdb==4.0.11
GitPython==3.1.43
google-api-core==2.24.0
google-auth==2.37.0
google-cloud-core==2.4.1
google-cloud-storage==2.19.0
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
gunicorn==23.0.0
h11==0.16.0
html2image==2.0.5
httpcore==1.0.9
httpx==0.28.1
idna==3.10
importlib_metadata==8.6.1
iniconfig==2.0.0
input-timeout==0.21
ipykernel==6.29.5
ipython==8.31.0
ipywidgets==8.1.7
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.5
jiter==0.10.0
joblib==1.4.2
json5==0.12.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.16.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
keyboard==0.13.5
kiwisolver==1.4.7
kthread==0.2.3
locket==1.0.0
lxml==5.3.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.0
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.0.2
mizani==0.13.3
mlxtend==0.23.4
more-itertools==10.5.0
MouseInfo==0.1.3
multidict==6.1.0
mycdp==1.1.0
narwhals==1.19.1
nbclient==0.10.2
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.5
ngrok==1.4.0
normaltext==0.10
notebook==7.4.2
notebook_shim==0.2.4
npx==0.1.6
numpy==2.2.1
openai==1.102.0
opencv-python==4.11.0.86
openpyxl==3.1.5
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.2
pandas==2.3.0
pandocfilters==1.5.1
parameterized==0.9.0
parse==1.20.2
parse_type==0.6.4
parso==0.8.4
partd==1.4.2
patsy==1.0.1
pdbp==1.6.1
pefile==2023.2.7
pillow==11.0.0
platformdirs==4.3.6
plotly==5.24.1
plotly-express==0.4.1
plotnine==0.14.5
pluggy==1.5.0
portpicker==1.6.0
PrettyColorPrinter==0.45
prometheus_client==0.22.0
prompt_toolkit==3.0.48
propcache==0.2.1
proto-plus==1.25.0
protobuf==5.29.2
psutil==6.1.1
psycopg2-binary==2.9.11
pure_eval==0.2.3
pyarrow==18.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyasynchat==1.0.4
pyasyncore==1.0.4
PyAutoGUI==0.9.54
pybet365==0.1.1
pycparser==2.22
pydantic==2.11.7
pydantic_core==2.33.2
pydeck==0.9.1
pygal==3.0.5
PyGetWindow==0.0.9
Pygments==2.18.0
pyinstaller==6.15.0
pyinstaller-hooks-contrib==2025.8
PyJWT==2.10.1
PyMsgBox==1.0.9
pyngrok==7.2.2
pynose==1.5.3
pyodbc==5.2.0
pyotp==2.9.0
pyparsing==3.2.0
pyperclip==1.9.0
pypiwin32==223
pyreadline3==3.5.4
PyRect==0.2.0
PyScreeze==1.0.1
PySocks==1.7.1
pytest==8.3.4
pytest-html==4.0.2
pytest-metadata==3.1.1
pytest-ordering==0.6
pytest-rerunfailures==15.0
pytest-xdist==3.6.1
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.0.1
python-json-logger==3.3.0
pytweening==1.2.0
pytz==2024.2
pywin32==308
pywin32-ctypes==0.2.3
pywinauto==0.6.8
pywinpty==2.0.15
PyYAML==6.0.2
pyzbar==0.1.9
pyzmq==26.2.0
RapidFuzz==3.13.0
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.22.3
rsa==4.9
sbvirtualdisplay==1.4.0
scikit-learn==1.6.1
scipy==1.14.1
seaborn==0.13.2
selenium==4.27.1
seleniumbase==4.33.11
Send2Trash==1.8.3
setuptools==80.9.0
six==1.17.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
sqlparse==0.5.3
stack-data==0.6.3
statsmodels==0.14.4
streamlit==1.41.1
streamlit-aggrid==1.1.2
streamlit-authenticator==0.4.2
streamlit-option-menu==0.4.0
streamlit-tags==1.2.8
tabcompleter==1.4.0
tenacity==9.0.0
terminado==0.18.1
threadpoolctl==3.6.0
tinycss2==1.4.0
toml==0.10.2
toolz==1.0.0
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
trio==0.27.0
trio-websocket==0.11.1
types-python-dateutil==2.9.0.20250516
typing-inspection==0.4.1
typing_extensions==4.12.2
tzdata==2024.2
uri-template==1.3.0
urllib3==2.2.3
useful-functions-easier-life==0.14
watchdog==6.0.0
wcwidth==0.2.13
webcolors==24.11.1
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
websockets==14.1
Werkzeug==3.0.6
wheel==0.45.1
whitenoise==6.11.0
widgetsnbextension==4.0.14
wsproto==1.2.0
xcamera==2020.613
xlsxwriter==3.2.5
xyzservices==2025.1.0
yarl==1.18.3
zbarcam==2020.524
zipp==3.21.0

